

<nav class="navbar">
    <div class="container-fluid ">
        <h1></h1>
        <div class="d-flex mt-5">
            <button (click)=" clickAddProd()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal ">Add User</button>
            <button routerLink="/login" class="btn btn-danger mx-3 ">LogOut</button>
        </div>
    </div>
</nav>

<table class="table table-stripped mt-4">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Food</th>
            <th scope="col">Price </th>
            <th scope="col">Offer</th>
            <th scope="col">Description</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of prodData">
            <td>{{u.id}}</td>
            <td>{{u.food}}</td>
            <td>{{u.price}}</td>
            <td>{{u.offer}}</td>
            <td>{{u.description}}</td>
            <td>

                <button (click)="onEdit(u)" class="btn btn-primary" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                <button (click)="deleteProds(u)" class="btn btn-danger mx-3">Delete</button>

            </td>

        </tr>
    </tbody>
</table>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel text-center">Enter your Details !!!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label  class="form-label">Food</label>
                  <input type="text" formControlName="food" class="form-control"  >
                </div>
             
                <div class="mb-3">
                    <label  class="form-label">Price</label>
                    <input type="email" formControlName="price" class="form-control" >
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Offer</label>
                    <input type="text" formControlName="offer" class="form-control" >
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Description</label>
                    <input type="text" formControlName="description" class="form-control"  >
                  </div>
               
              </form>


        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postProdDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateProdDetails()" class="btn btn-warning">Update</button>
        </div>
      </div>
    </div>
  </div>

