<app-prod></app-prod>
<!-- 
<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
        <i style="font-size:40px;margin-left:20px" class='fab fa-pied-piper-alt'></i>&nbsp;
        <strong style="margin-top: 10px;">Foodie Time</strong>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="search food">
        </div>
    </div>
        <button class="btn btn-primary">
            <i style="font-size: 25px;" class="fas fa-cart-plus"></i>
            <div class="badge bg-danger">3</div>
        </button>
       
    </div>
</header> -->